@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inter:wght@400;700&display=swap");

body {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3;
  color: #636060;
  background-color: white;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 109px;
}

/* Headers and text styles start */

h1 {
  font-family: "Inter";
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
}

h2 {
  font-family: "Inika";
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499a18;
}

.green-text {
  color: #499a18;
}

.orange-text {
  color: #e06733;
}

/* Headers and text styles end */

.button {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  color: black;
  border: 2px solid #e06733;
  border-radius: 10px;
  padding: 14px 27px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
  background-color: inherit;
}


.button3 {
  font-family: Inika;
  font-size: 20px;
  font-weight: 700;

  color: #e06733;
  border: 1px solid #e06733;
  border-radius: 10px;
  padding: 12px 34px 12px 30px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 38px;
  cursor: pointer;
  background-color: inherit;
  /* display: inline-block; */
}

:where(.button, .button2, .button3):hover {
  background-color: #e06733;
  color: white;
}


/* Header start */

.header_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 134px;
  font-family: "Inika";
}

.nav {
}

.header_logo {
  display: flex;
  flex-wrap: wrap;
}

.header_logo-link {
  text-decoration: none;
  color: #010201;
  font-size: 16px;
  padding: 0;
  line-height: 20px;
}

.header_logo-pic {
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.nav-item {
  margin-right: 46px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  text-decoration: none;
  color: #010201;
  transition: color 0.5s;
  font-size: 16px;

  line-height: 20px;
  transition: 0.3s;
}

.nav-link:hover {
  color: #e06733;
  font-weight: 700;
}

/* Header end */

/* Main start */

.main {
}

.section {
  margin: 0;
}

.header,
.welcome,
.service,
.contacts {
  background-color: #edf2ec;
}

/* Section #1 Welcome start */

.welcome > .wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 532px;
}

.welcome-pic {
  width: 450px;
  /* background-image: url("./assets/img/leafs.png"); */
}

.welcome-block {
  width: 550px;
}

.welcome-block > p {
  margin-top: 42px;
  margin-bottom: 48px;
  display: block;
}

/* Section #1 Welcome end */

/* Section #2 About start */

.about > .wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 666px;
}

.about-block {
  width: 605px;
}

.about-block > h2 {
  width: 463px;
}

.about-block > p {
  margin-top: 40px;
}

.about-pic {
  width: 464px;
}

/* Section #2 About end */

/* Section #3 Service start */

.service > .wrapper {
  height: 1300px;
}
.service_block {
  display: flex;
  flex-wrap:wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
}

.service h2 {
  width: 306px;
  margin: 40px 142px 90px 0;
}

.button2 {
  font-family: Inika;
  font-size: 20px;
  font-weight: 400;
  /* font-stretch:normal; */

  color: #e06733;
  border: 1px solid #e06733;
  border-radius: 10px;
  padding: 12px 54px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: inherit;
  margin: 69px 38px 0 0;
  display: block;
}

.button2:hover {
  background-color: #e06733;
  color: white;
}

.cards_block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 450px 450px;
  column-gap: 116px;
  row-gap: 55px;
}

.card {
border: solid 1px orangered;
}

/* Section #3 Service end */
/* Section #4 Prices start */

.prices > .wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  height: 560px;
}

.prices h2,
.prices p {
  font-family: "Inter";
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: black;
}

.prices p {
  text-align: right;
}

.prices_more {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 452px;
}

.prices-pic {
  width: 152px;
}

.prices_plans {
  box-sizing: border-box;
  width: 332px;
  height: 282px;
  margin-top: 60px;

  border: 1px solid #e3e1d5;
  border-radius: 20px;
  padding: 34px 41px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.price_items {
  width: 250px;
  height: 50px;

  background: #edf2ec;
  border-radius: 20px;
}

/* Section #4 Prices end */
/* Section #5 Contacts start */

.contacts > .wrapper {
  position: relative;
  height: 550px;
}

.contacts-pic {
  position:absolute;
  bottom:0;
}

.contacts h2 {
  font-family: "Inika";
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  padding-top: 60px;
  text-align:center;
}

.accordion {
  position:absolute;
  top: 148px;
  right: 109px;
  width: 450px;
  height: 50px;

  background: #d6e7d2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
  display: flex;
  padding-left: 20px;
  padding-right: 35px;
  align-items: center;
  justify-content: space-between;
}
.accordion > p {
  color: #717171;
}

/* Section #5 Contacts end */
/* Main end */

/* Foooter start */

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 130px;
  background-color: white;
  color: black;
}

.footer-container a {
  text-decoration: none;
  color: black;
}

.copyright {
  display: flex;
  align-items: center;
}

.copyright > p,
.copyright > a {
  margin-right: 20px;
}

.rs-link {
  display: flex;
}

.rs-link > a {
  margin: 0 auto;
}

.social-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.social-list li {
  margin-right: 20px;
}

.social-list li:last-child {
  margin-right: 0;
}


/* .social {
}

.social ul {
} */


/* Foooter end */
