@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inter:wght@400;700&display=swap");

body {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3;
  color: #636060;
  background-color: white;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 109px;
}

/* Headers and text styles start */

h1 {
  font-family: "Inter";
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
  margin: 0;
}

h2 {
  font-family: "Inika";
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499a18;
  margin: 0;
}

.green-text {
  color: #499a18;
}

.orange-text {
  color: #e06733;
}

/* Headers and text styles end */

.button {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  color: black;
  border: 2px solid #e06733;
  border-radius: 10px;
  /* padding: 14px 27px; */
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
  background-color: inherit;
  width: 158px;
  height: 44px;

  transition: all 0.5s;
}

.button2 {
  font-family: Inika;
  font-size: 20px;
  font-weight: 400;
  /* font-stretch:normal; */

  color: #e06733;
  border: 1px solid #e06733;
  border-radius: 5px;
  /* padding: 12px 54px; */
  width: 161px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: inherit;
  margin: 69px 38px 0 0;
  display: block;
  transition: all 0.5s;
}

.button3 {
  font-family: Inika;
  font-size: 20px;
  font-weight: 700;

  color: #e06733;
  border: 1px solid #e06733;
  border-radius: 5px;
  /* padding: 12px 34px 12px 30px; */
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: inherit;
  width: 162px;
  height: 50px;
  transition: all 0.5s;
  margin-left: auto;
  /* display: inline-block; */
}

:where(.button, .button2, .button3):hover {
  background-color: #e06733;
  color: white;
}

/* Header start */

.header-container {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: space-between;
  height: 134px;
  font-family: "Inika";
}

.header_logo {
  display: flex;
  /* flex-wrap: wrap; */
}

.header_logo-link {
  text-decoration: none;
  color: #010201;
  font-size: 16px;
  padding: 0;
  line-height: 20px;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -10px;
}

.nav-item {
  margin-left: 27px;
}

.nav-link {
  position: relative;
  text-decoration: none;
  font-family: "Inika";
  color: #010201;
  font-size: 16px;
  padding: 0 10px;
}

.nav-link::after {
  content: "";
  position: absolute;
  background-color: #e06733;
  height: 1px;
  width: 0;
  left: 0;
  bottom: -3px;
  transition: 0.3s;
}

.nav-item:first-child .nav-link {
  color: #e06733;
  font-weight: 700;
}

.nav-link:hover::after {
  width: 100%;
}

/* Header end */

/* Main start */

.section {
  margin: 0;
}

.header,
.welcome,
.service,
.contacts {
  background-color: #edf2ec;
}

/* Section #1 Welcome start */

.welcome > .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: space-between;
  flex-wrap: wrap;
  height: 532px;
}

.welcome-pic {
  display: block;
  width: 450px;
  margin: 20px 0 20px 0;
  /* background-image: url("./assets/img/leafs.png"); */
}

/* .welcome-block {
  width: 548px;
} */

.welcome h1 {
  margin-top: 5px;;
  width: 548px;
}

.welcome p {
  margin-top: 45px;
  margin-bottom: 48px;
  display: block;
  line-height: 35px;
  width: 548px;
}

/* Section #1 Welcome end */

/* Section #2 About start */

.about > .wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: space-between;
  height: 666px;
}

/* .about-block {
  margin: top 10px;
  width: 605px;
} */

.about h2 {
  margin-top: 26px;

}

.about p {
  margin-top: 40px;
  line-height: 30px;
  width: 605px;
}

.about-pic {
  display: block;
  width: 464px;
}

/* Section #2 About end */

/* Section #3 Service start */

.service > .wrapper {
  height: 1300px;
}

.service_filters_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
}

.service h2 {
  width: 306px;
  margin-top: 40px;
  margin-right: 142px;
  margin-bottom: 80px;
}

.cards_grid {
  display: grid;
  grid-template-columns: repeat(3, 330px);
  grid-template-rows: repeat(2, 450px);
  grid-auto-rows: 450px;
  grid-auto-flow: row;
  gap: 55px 116px;
}

.card {
  margin: 0;
}

.card {
  /* background-image: url("./assets/img/card1.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px 20px 0px 0px;
  margin-bottom: 100px;
}
/* .card-pic {
  margin:auto;
  background-image: url("./assets/img/card1.png");
} */

.card:nth-child(1) {
  background-image: url("./assets/img/card1.png")
}
.card:nth-child(2) {
  background-image: url("./assets/img/card2.png")
}
.card:nth-child(3) {
  background-image: url("./assets/img/card3.png")
}
.card:nth-child(4) {
  background-image: url("./assets/img/card4.png")
}
.card:nth-child(5) {
  background-image: url("./assets/img/card5.png")
}
.card:nth-child(6) {
  background-image: url("./assets/img/card6.png")
}


.card > figcaption {
  margin-top: 350px;
  height: 100px;
  border: 1px solid #e3e1d5;
  border-radius: 0px 0px 20px 20px;
}

/* .card-pic {
  display: block;
} */

.card_category {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #e06733;
  margin-top: 10px;
  margin-bottom: 5px;
}

.card_text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #717171;
}

/* .card2 {
border: solid 1px orangered;
} */

/* Section #3 Service end */
/* Section #4 Prices start */

.prices > .wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: flex-start;
  height: 560px;
}

.prices h2 {
  font-family: "Inter";
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: black;
  margin-top: 38px;
}

.prices_subheader {
  font-family: "Inter";
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  margin-top: 38px;
  color: black;
  text-align: right;
  width: 452px;
}

/* .prices_more {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 452px;
}
 */
.prices-pic {
  display: block;
  width: 168px;
  margin-top: 35px;
  margin-right: -10px;
  margin-left: auto;
}

.prices_plans {
  box-sizing: border-box;
  width: 332px;
  height: 282px;
  margin-top: 60px;

  border: 1px solid #e3e1d5;
  border-radius: 20px;
  padding: 34px 41px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.price_item {
  width: 250px;
  height: 50px;
  background: #edf2ec;
  border-radius: 20px;

  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.price_item p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}



/* Section #4 Prices end */
/* Section #5 Contacts start */

.contacts > .wrapper {
  position: relative;
  height: 550px;
}

.contacts-pic {
  position: absolute;
  bottom: 0;
}

.contacts h2 {
  font-family: "Inika";
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  padding-top: 60px;
  text-align: center;
  margin: 0;
}

.accordion {
  position: absolute;
  top: 148px;
  right: 109px;
  width: 450px;
  height: 50px;

  background: #d6e7d2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
  display: flex;
  padding-left: 20px;
  padding-right: 35px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.accordion > p {
  color: #717171;
}

/* Section #5 Contacts end */
/* Main end */

/* Foooter start */

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 130px;
  background-color: white;
  color: black;
}

.footer-container a {
  text-decoration: none;
  color: black;
}

.copyright {
  display: flex;
  align-items: center;
}

.copyright > p,
.copyright > a {
  margin-right: 20px;
}

.copyright a:last-child {
  margin-right: 0;
}
.rs-link {
  display: flex;
}

.rs-link > a {
  margin: 0 auto;
}

.social-list {
  display: flex;
  justify-content: flex-end;
  /*   align-content: center;
  align-items: center; */
  list-style: none;
  padding: 0;
}

.social-list li {
  margin-left: 20px;
}

.social-list li:first-child {
  margin-left: 0;
}

/* Foooter end */

/* Media start */

/* @media screen and (min-width: 1440px) {
} */

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .wrapper {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 50px;
    flex-direction: column;
    flex-wrap: nowrap;
    height: initial;
  }
  .cards_grid {
    grid-template-columns: 280px 280px;
    gap: 38px 106px;
  }

/*   .service > .wrapper {
    height: unset;
  }
  .header-container, .footer-container {
    height: unset;
  } */

  .header-container {
    height: 117px;
  }
  .footer-container {
    grid-template-columns: 1fr;
    justify-items: center;
    height: 181px;
  }
  .welcome-pic {
    order: 4;
    width: 280px;
  }
  .about-pic {
    width: 250px;
  }
  .welcome h1 {
    font-size: 35px;
    width: 341px;
  }
  .welcome p {
    font-size: 16px;
    line-height: 25px;
    width: 341px;
  }

  .about h2 {
    font-size: 35px;
    line-height: 45px;
    width: 341px;
    text-align: center;
    width: 423px;
  }
  .about p {
    width: 100%;
  }
  .contacts-pic {

  }
/*   .copyright {
    justify-items: center;
  }
  .social-list {
    justify-items: center;
  } */

  .welcome > .wrapper {
    height: 420px;
  }
  .about > .wrapper {
    align-items: center;
    height: 783px;
  }
  .service > .wrapper {
    height: 1780px;
    padding-bottom: 70px;
  }
  .prices > .wrapper {
    height: 585px;
  }
  .contacts > .wrapper {
    height: 739px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .wrapper {
    max-width: 100%;
    padding: 0 50px;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .cards_grid {
    grid-template-columns: 280px;
    gap: 34px 34px;
  }
  .header-container {
    height: 96px;
  }
  .footer-container {
    grid-template-columns: 1fr;
    justify-items: center;
    height: 146px;
  }
  .welcome-pic {
    display: none;
  }
  .prices-pic {
    display: none;
  }
  
  .about > .wrapper {
    height: 300px;
  }
  .welcome > .wrapper {
    height: 516px;
  }
  .service > .wrapper {
    height: 3150px;
  }
  .prices > .wrapper {
    height: 512px;
  }
  .contacts > .wrapper {
    height: 445px;
  }
}

/* Media end */
