@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inter:wght@400;700&display=swap");

body {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3;
  color: #636060;
  background-color: white;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 109px;
  z-index: 1;
}

/* Headers and text styles start */

h1 {
  font-family: "Inter";
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
  margin: 0;
}

h2 {
  font-family: "Inika";
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499a18;
  margin: 0;
}

.green-text {
  color: #499a18;
}

.orange-text {
  color: #e06733;
}

/* Headers and text styles end */

.buttonWelcome {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  color: black;
  border: 2px solid #e06733;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
  background-color: inherit;
  width: 158px;
  height: 44px;
  transition: all 0.5s;
}

.buttonWelcome:hover {
  background-color: #e06733;
  color: white;
}


.nav_burger {
  display: none;
  width: 40px;
  height: 24px;
  position: relative;
  cursor: pointer;
}

/* Header start */

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 134px;
  font-family: "Inika";
}

.header_logo {
  display: flex;
}

.header_logo-link {
  text-decoration: none;
  color: #010201;
  font-size: 16px;
  padding: 0;
  line-height: 2;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -10px;
}

.nav-item {
  margin-left: 27px;
}

.nav-link {
  position: relative;
  text-decoration: none;
  font-family: "Inika";
  color: #010201;
  font-size: 16px;
  padding: 0 10px;
}

.nav-link::after {
  content: "";
  position: absolute;
  background-color: #e06733;
  height: 1px;
  width: 0;
  left: 0;
  bottom: -3px;
  transition: 0.3s;
}

.nav-item:first-child .nav-link {
  color: #e06733;
  font-weight: 700;
}

.nav-link:hover::after {
  width: 100%;
}

/* Header end */

/* Main start */

.section {
  margin: 0;
}

.header,
.welcome,
.service,
.contacts {
  background-color: #edf2ec;
}

/* Section #1 Welcome start */

.welcome > .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: space-between;
  flex-wrap: wrap;
  height: 532px;
}

.welcome-pic {
  display: block;
  width: 450px;
  margin: 20px 0 20px 0;
  /* background-image: url("./assets/img/leafs.png"); */
}

.welcome h1 {
  margin-top: 5px;;
  width: 548px;
}

.welcome p {
  margin-top: 45px;
  margin-bottom: 48px;
  display: block;
  line-height: 35px;
  width: 548px;
}

/* Section #1 Welcome end */

/* Section #2 About start */

.about > .wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: space-between;
  height: 666px;
}

.about h2 {
  margin-top: 26px;
}

.about p {
  margin-top: 40px;
  line-height: 30px;
  width: 605px;
}

.about-pic {
  display: block;
  width: 464px;
}

/* Section #2 About end */

/* Section #3 Service start */

.service > .wrapper {
  padding-bottom: 120px;
  /* height: 1300px; */
}

.service_filters_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: center;
  margin-bottom: 80px;
}

.service h2 {
  width: 306px;
  margin-top: 40px;
  margin-right: 142px;
  margin-bottom: 0;
}

.cards_grid {
  display: grid;
  grid-template-columns: repeat(3, 330px);
  grid-auto-rows: 450px;
  gap: 55px 116px;
}

/* Section #3 Service end */
/* Section #4 Prices start */

.prices > .wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: flex-start;
  height: 560px;
}

.prices h2 {
  font-family: "Inter";
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: black;
  margin-top: 38px;
}

.prices_subheader {
  font-family: "Inter";
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  margin-top: 38px;
  color: black;
  text-align: right;
  width: 452px;
}
.prices-pic {
  display: block;
  width: 168px;
  margin-top: 35px;
  margin-right: -10px;
  margin-left: auto;
}

/* Section #4 Prices end */
/* Section #5 Contacts start */

.contacts-wrapper {
  display: grid;
  justify-items: center;
  align-items: start;
  grid-template-columns: 450px auto 450px;
  grid-template-rows: 198px;
  grid-auto-flow: dense;
  background-image: url("./assets/img/contact_woman.png");
  background-repeat: no-repeat;
  background-position: bottom left 109px;
  height: 550px;
}

.contacts h2 {
  font-family: "Inika";
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  padding-top: 60px;
  text-align: center;
  margin: 0;
  grid-column: 2;
}

/* Section #5 Contacts end */
/* Main end */

/* Foooter start */

.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 130px;
  background-color: white;
  color: black;
}


.footer-container a {
  text-decoration: none;
  color: black;
  transition: all 0.1s;
}
.footer-container a:hover {
  color:#e06733;
}
.footer-container > div,.footer-container > ul {
  height:32px;
}
.copyright > p {
  margin: 0;
}
.copyright {
  display: flex;
  align-items: center;
  margin:0;
}


.copyright > p,
.copyright > a {
  margin-right: 20px;
}

.copyright a:last-child {
  margin-right: 0;
}
.rs-link {
  display: flex;
}

.rs-link > a {
  margin: 0 auto;
}

.social-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-list li {
  margin-left: 20px;
}

.social-list li:first-child {
  margin-left: 0;
}

/* Foooter end */

/* Media start */

/* Media Tablet start */

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .wrapper {
    width: 768px;
    margin: 0 auto;
    padding: 0 50px;
    flex-direction: column;
    flex-wrap: nowrap;
    height: initial;
  }
  .cards_grid {
    grid-template-columns: 280px 280px;
    gap: 38px 106px;
  }

  .header-container {
    height: 117px;
  }
  .welcome > .wrapper {
    height: 420px;
    justify-content: flex-start;
  }
  .about > .wrapper {
    justify-content: flex-start;
    align-items: center;
    
    height: 783px;
  }
  .service > .wrapper {
    /* height: 1780px; */
    padding-bottom: 70px;
  }
  .prices > .wrapper {
    height: 585px;
  }
  .contacts-wrapper {
    display: flex;
    align-items: center;
    background-position: 294px bottom;
    background-size: 200px;
    height: 739px;
  }
  .footer-container {
    flex-direction: column;
    justify-content: space-between;
    height: 181px;
  }
  .copyright {
    margin: 30px 0 0 0;
  }
  .social-list {
    margin: 0 0 30px 0;
  }
  h1 {
    font-size: 35px;
    line-height: 50px;
  }

  h2 {
    font-size: 35px;
    line-height: 46px;
  }
  
  .welcome h1 {
    margin-top: 40px;
    width: 341px;
  }

  .welcome p {
    font-size: 16px;
    line-height: 25px;
    width: 341px;
    margin-top: 30px;
    margin-bottom: 35px;
    padding-left: 5px;
  }
  .welcome-pic {
    margin-top: 40px;
    order: 4;
    width: 280px;
  }
  .about h2 {
    font-size: 35px;
    line-height: 46px;
    width: 100%;
    text-align: center;
    margin-top: 40px;
  }
  .about p {
    font-size: 20px;
    line-height: 30px;
    width: 100%;
    margin-top: 48px;
  }
  .about-pic {
    margin-top: 50px;
    width: 250px;
  }
  .service h2 {
    margin-top: 60px;
    margin-bottom: 40px;
    width: 100%;
  }
  .service_filters_block {
    margin-bottom: 20px;
  }
  .prices h2 {
    font-size: 35px;
    line-height: 42px;
    margin-left: 15px;
    margin-top: 40px;
  }
  .prices_subheader {
    font-size: 25px;
    line-height: 35px;
    width: 296px;
    margin-top: 140px;
    margin-bottom: 28px;
    text-align: right;
  }
  .prices-pic {
    margin-top: 30px;
    margin-left: auto;
    margin-right: -10px;
  }
  .contacts h2 {
    font-size: 40px;
    padding-top: 40px;
  }
}
/* Media Tablet end */

/* Media Phone start */

@media screen and (min-width: 380px) and (max-width: 767px) {
  .wrapper {
    width: 380px;
    padding: 0 25px;
    flex-direction: column;
    align-items:center;
    flex-wrap: nowrap;
  }
  .nav-link {
    font-size: 42px;
  }
}

@media screen and (min-width: 320px) and (max-width: 379px) {
  .wrapper {
    width: 100%;
    padding: 0 15px;
    flex-direction: column;
    align-items:center;
  }
  .welcome > .wrapper {
    padding-bottom: 10px;
  }
  .nav-link {
    font-size: 36px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .nav_burger {
    display: block;
  }
  .nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #EDF2EC;
    z-index: 10;
    padding: 75px;
    transform: translateX(100%);
    transition: .2s all linear;
  }
  .nav_active {
    transform: translateX(0);
  }
  .nav-list {
    padding-left: 0;
    flex-direction: column;
  }
  .nav-item {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .nav-item:last-child {
    margin-bottom: 0;
  }
  .nav-link {
    font-family: "Inter";
    font-weight: 700;
    color: #636060;
    line-height: 1.3;
  }
  .nav-item:first-child .nav-link {
    color: #636060;
  }
  .nav-link:hover::after {
    width: 0;
  }
  .nav-close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 11;
    cursor: pointer;
  }
  .nav-close-line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #717171;
    position: absolute;
    top: 50%;
  }
  .nav-close-line:first-child {
    transform: translateY(-50%) rotate(45deg);
  }
  .nav-close-line:last-child {
    transform: translateY(-50%) rotate(-45deg);
  }
  .cards_grid {
    grid-template-columns: auto 280px auto;
    gap: 34px 0;
  }
  .card {
    grid-column: 2;
  }
  .header-container {
    height: 96px;
  }
  .welcome > .wrapper {
    flex-direction: column;
    height: 300px;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
  .about > .wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    height: 516px;
  }
  .service > .wrapper {
    padding-bottom: 27px;
    /* height: 3150px; */
  }
  .prices > .wrapper {
    height: 512px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items:center;
  }
  .prices_subheader {
    font-size: 20px;
    line-height: 35px;
    width: 230px;
    text-align: center;
    margin-top: 19px;
    margin-bottom: 20px;
  }
  .prices-pic {
    display: none;
  }
  .contacts-wrapper {
    display: flex;
    align-items: center;
    background-position: bottom center;
    background-size: 100px;
    height: 445px;
  }
  .footer-container {
    flex-direction: column;
    justify-content: space-between;
    height: 146px;
  }
  .copyright {
    margin: 18px 0 0 0;
  }
  .social-list {
    margin: 0 0 19px 0;
  }

  h1 {
    font-size: 25px;
    line-height: 35px;
  }
  h2 {
    font-size: 25px;
    line-height: 33px;
  }
  .prices h2, .contacts h2 {
    font-size: 25px;
  }
  .welcome h1 {
    width: 100%;
    margin-top: 25px;
  }
  .welcome p {
    font-size: 16px;
    line-height: 25px;
    width: 100%;
    
    margin-top: 21px;
    margin-bottom: 25px;
  }
  .welcome-pic {
    display: none;
  }
  .about h2 {
    line-height: 33px;
    margin-top: 30px;
    text-align: center;
  }
  .about p {
    font-size: 15px;
    line-height: 25px;
    margin-top: 14px;
    margin-bottom: 0;
    width: 100%;
  }
  .about-pic {
    margin-bottom: 35px;
    width: 150px;
  }
  .service h2 {
    margin-top: 30px;
    margin-bottom: 38px;
    width: 100%;
    line-height: 33px;
    margin-right: 0;

  }
  .service_filters_block {
    margin-bottom: 32px;
  }
  .buttonWelcome {
    font-size: 10px;
    width: 100px;
    height: 35px;
    margin-bottom: auto;
  }
  .prices h2 {
    margin-top: 25px;
    line-height: 30px;
  }
  .contacts h2 {
    font-size: 25px;
    padding-top: 25px;
    line-height: 33px;
  }
  .contacts-wrapper.pic-hide {
    background-image: none;
  }
}
/* Media Phone end */
/* Media end */
